html, body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #c6d2e4;
  color: #1B145A;
}

#wrapper {
	max-width: 500px;
	margin:0 auto;	
	padding-top: 20px;
}

.index {text-align: center;}
.index h1 {
	background: url("/img/logo-lrg.jpg") left top no-repeat transparent;
	width: 400px;
	height: 500px;
	text-index: -999em;
	font-size: 0;
	line-height: 0;
	margin: 0 auto;
}

a {
  color: #FE0000;
  text-decoration: none;
}

.admin #count {
	display:block;
	overflow: auto;
}
.admin #count div {
	float: left;
	width: 33%;
}
.admin #count div span, .admin #sml-count div span {
	display: block;
	text-align: center;
}
.admin #count div .value {
	font-size: 10em;
	font-weight: bold;
}
.admin #sml-count div {
	float: left;
	width: 13%;
	font-size: 0.8em;
}
.admin #sml-count div.divider {
	width:1px;
	background-color:#1B145A;
	margin: 0 5px;
	height: 75px;
}

.admin #sml-count div .value {
	font-size: 4em;
	font-weight: bold;
}
.admin .listing {
	display: block;
	overflow: auto;
	clear: left;
}
.admin .listing ul {
	float: left;
	width: 50%;
	list-style: none;
    margin: 25px 0 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.admin .listing li {
	text-align: left;
	height: 25px;
}
.admin .listing li.title {text-align: center;}

.admin .listing #users li img {
	width: 20px;
	hieght: 20px;
	margin-right: 10px;
	margin-bottom: -5px;
}
.admin .listing li span {
	margin-right: 10px;
}